$corDeFundo: #040714;
$corTextoPrincipal: rgb(1, 24, 72);
$corTextoSecundario: #000957;
$corBotao: #6421ff;
$corDeFundoQuestion: #13151d;
$corTextoQuestion:#fff;
$corBotaoSecundario: #0063e5;
$corBotaoDark: #000;
$corHover: #fdbb04;
$colorh2:#c0f2ff;